@import "css/main.scss";

.container,
.main-content,
.memories,
.memory {
  display: flex;
  flex-direction: column;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  width: 100%;
  max-width: 1800px;
  height: auto;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 50vh;
}

.main-content {
  padding: 4rem;
  padding-top: 0;
}

.memories {
  padding-top: 50vh;
}

.year {
  display: flex;
  flex-direction: column;
  align-items: baseline;

  &::before {
    display: block;
    content: attr(data-year);
    @include source-sans(500);
    @include uppercase;
    @include font-size(0.75);
    color: tint($blue, 60);
    padding-top: 15vh;
    padding-bottom: 20px;
    padding-right: 10px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba($white, 0.98);
    z-index: 100;
  }
}

.memory {
  position: relative;
  flex-direction: column;
  @include bitter(400, italic);
  @include font-size(1);
  line-height: 1.8rem;
  align-items: baseline;
  padding-left: 50px;
  margin-bottom: 50vh;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20px;
    width: 5px;
    background-color: $midnight;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }

  // used to highlight when the memory is in the viewport
  // &.active::before {
  //   opacity: 1;
  //   transition: opacity 300ms ease-in-out;
  // }
}

.i-remember {
  @include source-sans(500);
  @include uppercase;
  @include font-size(0.75);
  white-space: nowrap;
  color: $mid-grey;
}

.wifey {
  padding-left: 40px;
  padding-top: 30px;

  @include breakpoint(medium) {
    padding-left: 50px;
  }

  p {
    @include bitter(400, italic);
    @include font-size(1);
    line-height: 1.8rem;

    &:first-child {
      padding-top: 30px;
      border-top: 1px dashed tint($blue, 60);
    }
  }
}

.scroll {
  position: fixed;
  top: 25%;
  left: 0;
  bottom: 25%;
  background-color: $indigo;
  width: 20px;
}

.images {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 66%;
  z-index: 1000;
  padding: 50px;
  background-color: $white;
  display: grid;
  place-items: center;

  .image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    display: grid;
    place-items: center;
    padding: 50px;
    transition: opacity 300ms ease-in-out;
    z-index: -1;

    &.visible {
      opacity: 1;
      transition: opacity 300ms ease-in-out;
      z-index: 1;
    }
  }

  .image {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    max-height: calc(100vh - 100px);
    transition: opacity 300ms ease-in-out;
  }
}
